# Executables et Archives volumineux
_Divers/*.exe
_Divers/*.zip
*.exe
*.zip

# PlatformIO & IDE Build files
.pio/
.vscode/
.idea/
*.bin
*.elf

# Python
__pycache__/
*.pyc
venv/
.env

# Docker logs & persistent data
server/mosquitto/data/
server/mosquitto/log/
