# Secrets et configuration locale
.env
*.key
*.pem
!infra/certs/ca.crt
infra/certs/*
!infra/certs/.gitkeep
!infra/certs/ca.crt

# Firmware
firmware/include/secrets.h
firmware/.pio/

# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/

# Node
node_modules/
dist/

# Divers
*.pt
.idea/
.vscode/
.DS_Store
*.log
